
body{
	background: linear-gradient(to bottom right, #2C3E50, #4CA1AF);
  }

  #seconds {
	  opacity: .3;
  }

  #hours {
	opacity: .3;
}

#time {
	opacity: .8;
}

.text{
  background-color: #2C3E50;
  padding: 3% 3%;
  opacity: .3;
  font-family: sans-serif;
}